<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style='color:red;position:absolute;text-align:center;'>Agor sim EIN !</h1>
<hr>
<p>Esse pdf tem muito conteúdo</p>
<p>Nome : <%= name %></p>
<p>Curso : <%= curso %></p>
</body>
</html>